body{
    margin: 0;
}
h2 a{
    text-decoration: none;
    color: black;
    margin-bottom: 10vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right , rgb(239, 112, 163), rgb(148, 167, 234));
    width: 100%;
    height: 10vh;    
}
header{
    display: flex;
    align-items: center;
}